.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color:#47b34f;
    cursor: default;
    background-color: #fff;
    border:none;
    border-bottom:4px solid #47b34f;
}
.modal-backdrop.in {
    opacity:0.3;
}
.modal-backdrop {
    z-index:1042;
}
