body{
  font-size: 13px;
  color: #666666;
  font-family: "microsoft yahei";
}

.clear{clear: both;}
.fr{float: right;}
.fl{float: left;}

.playflex{display: flex;}
.playnone{display: none;}
.justcenter{justify-content: center;}
.aligncenter{align-items: center;}
.justbetween{justify-content: space-between;}
.playcenter{
  justify-content: center;
  align-items: center;
}
.radius5{border-radius:5px;}

.center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}

.break-word{word-wrap: break-word;}

.pos-relative{position: relative;;}
.pos-absolute{position: absolute;}
.pos-fixed{position: fixed;}

.z1{z-index: 1}
.z1041{z-index:1041!important;}
.z1042{z-index:1042!important;}
.z1043{z-index:1043!important;}
.z1044{z-index:1044!important;}

.opacity3{opacity: 0.3}
.opacity5{opacity: 0.5}

.widthp25{width:25%;}
.widthp33{width:33.333333%;}
.widthp30{width:30%;}
.widthp40{width:40%;}
.widthp50{width:50%;}
.widthp60{width:60%;}
.widthp70{width:70%;}
.widthp100{width:100%;}

.mwp50{max-width:50%;}
.mwp57{max-width:57%;}
.mwp70{max-width:70%;}
.mwp85{max-width:85%;}
.mw240{max-width: 240px;}

.minw60{min-width:60px;}

.w15{width:15px;}
.w16{width:16px;}
.w23{width:23px;}
.w40{width:40px;}
.w43{width:43px;}
.w65{width:65px;}
.w75{width:75px;}
.w89{width:89px;}
.w95{width:95px;}
.w138{width:138px;}
.w150{width: 150px;}

.border-no{border: none!important}
.bottom-no{border-bottom: none;}
.borderbottom{border-bottom: 1px solid #eeeeee;}
.borderbottom-ef{border-bottom: 1px solid #dedede}
.borderbottom-f5{border-bottom: 1px solid #f5f5f5;}
.bordertop{border-top: 1px solid #eeeeee;}

.space-row{
  height: 1px;
  background-color: #f5f5f5;
  margin-right: 10px;
  margin-right: 10px;
}

.b0{bottom: 0!important}
.t0{top: 0;}
.t15{top:15px;}
.l0{left: 0}
.l15{left: 15px;}
.r0{right: 0;}

.ml10{margin-left: 10px;}
.ml15{margin-left: 15px!important;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.ml50{margin-left: 50px;}
.ml58{margin-left: 58px;}

.mr4{margin-right: 4px;}
.mr5{margin-right: 5px;}
.mr8{margin-right: 8px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}

.mb0{margin-bottom: 0;}
.mb3{margin-bottom:3px;}
.mb5{margin-bottom:5px;}
.mb8{margin-bottom:8px;}
.mb10{margin-bottom:10px;}
.mb12{margin-bottom:12px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}

.mmt1{margin-top: -1px;}
.mmt2{margin-top: -2px;}
.mt2{margin-top: 2px;}
.mt8{margin-top: 8px;}
.mt10{margin-top: 10px;}
.mt13{margin-top: 13px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt24{margin-top: 24px;}
.mt40{margin-top: 40px;}

.p0{padding:0!important}
.p15{padding:15px;}
.p20{padding:20px;}


.pl0{padding-left: 0!important;}
.pl5{padding-left:5px!important;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl55{padding-left: 55px;}

.pr0{padding-right: 0!important;}
.pr5{padding-right: 5px!important;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr55{padding-right: 55px;}

.pt0{padding-top: 0;}
.pt5{padding-top: 5px;}
.pt6{padding-top: 6px;}
.pt8{padding-top: 8px!important;}
.pt10{padding-top: 10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}

.pb0{padding-bottom:0;}
.pb5{padding-bottom:5px;}
.pb8{padding-bottom: 8px!important;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb45{padding-bottom: 45px;}
.pb50{padding-bottom: 50px;}

.playinblock{display: inline-block!important;}

.fs11{font-size: 11px;}
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs17{font-size: 17px;}

.fwnormal{font-weight: normal;}
.fw600{font-weight: 600;}

.lh20{line-height: 20px!important;}
.lh23{line-height: 23px;}
.lh35{line-height: 35px;}
.lh40{line-height: 40px;}
.lh50{line-height: 50px;}

.fgreen{color:#47b34f;}
.fblack{color:#666666}
.fgrey{color:#bdbdbd}
.fwhite{color: white;}
.fred{color:#ff1d1d;}
.f222{color:#222222;}
.f999{color:#999999;}
.f666{color:#666666;}
.fa6a6{color:#a6a6a6;}
.fblue{color:#60a8d9;}
.fred{color:#ee3953;}
.forange{color:#ff9832}


.bwhite{background-color: white;}
.bgreen{background-color:#47b34f!important;}
.bgrey{background-color: #bdbdbd}
.bf4f4{background-color:#f4f4f4;}
.bfff{background-color: #ffffff;}

.hp100{height: 100%;}

.mh20{min-height: 20px;}
.mh30{min-height: 30px;}
.mh40{min-height: 40px;}
.mh43{min-height: 43px;}
.mh45{min-height: 45px;}
.mh50{min-height: 50px;}

.h10{height: 10px;}
.h13{height: 13px;}
.h14{height: 14px;}
.h15{height: 15px;}
.h16{height: 16px;}
.h23{height: 23px;}
.h40{height: 40px;}
.h43{height: 43px;}
.h45{height: 45px;}
.h50{height: 50px;}
.h60{height: 60px;}
.h65{height: 65px;}
.h75{height: 75px;}
.h89{height: 89px;}
.h150{height: 150px;}

.arrow-right{
  width: 10px;
  height: 13px;
}
.navbar-list{
  width: 25%;
  font-size: 14px;
  color:#666666;
  /*text-align: center;!important*/
}
.navbar-list.active{
  color:#47b34f;
}
.card-left{
  position: absolute;
  bottom: 40px;
  left: 25px;
  margin-right: 120px;
}
.card-right{
  position: absolute;
  right: 25px;
  bottom: 40px;
}
.card-type{
  min-height: 160px;
  margin-bottom: 10px;
  color: white;
}
.parent-card-inuse{
  background-image: url(../images/parent_card_inuse.png);
  background-size: 100% 100%;
}
.parent-card-nouse{
  background-image: url(../images/parent_card_nouse.png);
  background-size: 100% 100%;
}
.teacher-card-inuse{
  background-image: url(../images/teacher_card_inuse.png);
  background-size: 100% 100%;
}
.teacher-card-nouse{
  background-image: url(../images/teacher_card_nouse.png);
  background-size: 100% 100%;
}
.company-card-nouse{
  background-image: url(../images/company_card_no_use.png);
  background-size: 100% 100%;
}
.company-card-inuse{
  background-image: url(../images/company_card_inuse.png);
  background-size: 100% 100%;
}

.out-card-nouse{
  background-image: url(../images/out_card_nouse.png);
  background-size: 100% 100%;
}
.out-card-inuse{
  background-image: url(../images/out_card_inuse.png);
  background-size: 100% 100%;
}
.card-number{
  font-size: 23px;
  max-width: 70%;
  word-wrap: break-word;
  margin-left: -4px;
}
.vertical-divide{
  width: 1px;
  height: 13px;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}
.card-title{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.card-btn-group{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.card-btn{
  height: 30px;
  min-width: 80px;
  border: 1px solid white;
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-btn.nouse{
    visibility: hidden;
}
.borderno-btn{
  border:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  transition:none;
  -webkit-transition:none;
  display: block;
  width: 80%;
  height: 20px;
  font-size: 17px;
  line-height:20px;
  color: #222222;
  background-color: #fff;
  outline:none;
  padding:0;
}
.delete-number-btn{
  width:18px;
  height:18px;
  position: absolute;
  top:1px;
  right: 0;
}
.recharge-wrap{
  border:1px solid #a6a6a6;
  border-radius: 5px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
      color: #a6a6a6;
}
.recharge-wrap.active{
  color:#47b34f;
  border:1px solid #47b34f;
}
.free-input{
  height: 40px;
  border:1px solid #a6a6a6;
  line-height: 40px;
  outline: none;
}
.confirm-green-btn{
  height: 40px;
  background-color: #47b34f;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.username{
  font-size: 14px;
  color:#666;
  min-height:30px;
  margin-top:13px;
}
.trac-record{
  padding-top:13px;
  padding-bottom:13px;
  margin-right:18px;
  margin-left:18px;
  border-bottom: 1px solid #eeeeee;
  position: relative;

}
.record-circle{
  width:40px;
  height:40px;
  position: absolute;
  top: 14px;
  left: 0;
}
.trac-record-number{
  float: right;
  max-width: 25%;
  word-break: break-word;
  text-align: right;
  margin-bottom: 20px;
}
.trac-record-state{
  position: absolute;
  bottom: 13px;
  right: 0;
}
